<h1>Listing Users</h1>
 <%= link_to 'New User', new_user_path %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Monthly</th>
    <th>Company</th>
    <th>Image</th>
   
  </tr>
 
  <% @user.each do |user|%>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.monthly_charge %></td>

      <% if user.company_id.present? %>
        <td><%= user.company.try(:company) %></td>
      <% else %>
        <td><p>No Company</p></td>
      <% end %>
      
      <td><img src="<%= user.image %>" style="height: 120px; width: 150px;"></td>
      <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary" %></td>
       <td><%= link_to 'Show', user_path(user), class: "btn btn-info" %></td>
       <td><%= link_to 'Destroy', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>

