<p>
  <strong>First_name:</strong>
  <%= @user.first_name %>
</p>
 
<p>
  <strong>Last_name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Monthly_charge:</strong>
  <%= @user.monthly_charge %>
</p>


<p>
  <strong>Company:</strong>
  <%= @user.company.try(:company)  %>
</p>



<p>
  <strong>Role:</strong>
  <%= @user.role_id.try(:role_id) %>
</p>

<p>
  <strong>Activebit:</strong>
  <%= @user.activebit %>
</p>

<p>
  <strong>Image:</strong>
   <img src="<%= @user.image %>" style="height: 150px; width: 300px;">
</p>

<%= link_to 'Back', users_path, class: "btn btn-info" %>



<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>


 
