<h2> New User Role <h2>
<%= form_for :user_role, url: user_roles_path do |f| %>

<% if @user_role.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user_role.errors.count, "error") %> prohibited
        this user_role from being saved:
      </h2>
      <ul>
        <% @user_role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :Role_Name %>
    <%= f.text_field :role_name %>
  </p>
 
  
 
  <p>
    <%= f.submit 'Create User Role', class: "btn btn-info" %>
  </p>
<% end %>

<%= link_to 'Back', user_roles_path, class: "btn btn-info" %>

 <style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>