<h1> Add Company <h1>
<%= form_for :company, url: companies_path do |f| %>
  

  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited
        this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Company:</label>
    <div class="col-sm-7  inputGroupContainer">
      <%= f.text_field :company,:class=>"form-control",:placeholder => "Company name" %>
    </div>
  </div><br><br>
 
 

  <div class="form-group">
        <label class="col-sm-2 control-label">Country:</label>
        <div class="col-sm-2  inputGroupContainer">
         <%= f.select(:country_id, Country.all.collect {|u| [u.country__name, u.id]},{},:prompt => 'Select Company',:class=>"form-control") %>

          </div>
        


<div class="form-group">
   <label class="col-sm-2 control-label">State:</label>
   <div class="col-sm-2  inputGroupContainer">
      <%= f.select(:state_id, State.all.collect {|u| [u.state_name, u.id]},{},:prompt => 'Select Company',:class=>"form-control") %>

     </div>
     </div>

 <div class="form-group">
   <label class="col-sm-2 control-label">City:</label>
   <div class="col-sm-2  inputGroupContainer">
      <%= f.select(:city_id, City.all.collect {|u| [u.city_name, u.id]},{},:prompt => 'Select Company',:class=>"form-control") %>

     </div>
     
   </div><br><br><br>

   <div class="form-group">
    <label class="col-sm-2 control-label">Post code:</label>
    <div class="col-sm-2  inputGroupContainer">
      <%= f.text_field :postcode,:class=>"form-control",:placeholder => "Post code" %>
    </div>
  
 
 
 <div class="form-group">
    <%= f.label :start_date,:class=>"col-sm-2 control-label" %>
    <div class="col-sm-2  inputGroupContainer">
      <%= f.text_field :start_date, :placeholder => "Start date", :id=>"start-date",:class=>"form-control"%>
    </div><br><br>
 
  <p>
    <%= f.submit 'save', class: "btn btn-info" %>
  </p>

  <%= link_to 'Back', companies_path, class: "btn btn-info" %>
<% end %>

<script>
  $( function() {
    $("#start-date" ).datetimepicker({ format: 'DD-MM-YYYY'});
    $("#end-date" ).datetimepicker({ format: 'DD-MM-YYYY'});
  } );
  </script>  

   <style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>