

<p>
  <strong>Company:</strong>
  <%= @company.company %>
</p>
 
<p>
  <strong>Postcode:</strong>
  <%= @company.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= Country.find(@company.country_id).country__name  %>
</p>

<p>
  <strong>State:</strong>
  <%= State.find(@company.country_id).state_name  %>
</p>

<p>
  <strong>City:</strong>
  <%= City.find(@company.city_id).city_name  %>
</p>

<%= link_to 'Back', companies_path, class: "btn btn-primary" %>


<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>