<h1>Listing Regions</h1>
 <%= link_to 'New Region', new_user_region_path %>
<table>
  <tr>
    <th>User Name</th>
    <th>Region</th>
   
   
  </tr>
 
  <% @user_region.each do |user_region|%>
    <tr>

       <% if user_region.region_id.present? %>
        <td><%= @region=Region.find(user_region.region_id).region_name %></td>
      <% else %>
        <td><p>No Region</p></td>
      <% end %>
      
      <td><%= link_to 'Edit', edit_user_region_path(user_region), class: "btn btn-primary" %></td>
       <td><%= link_to 'Show', user_region_path(user_region), class: "btn btn-info" %></td>
       <td><%= link_to 'Destroy', user_region_path(user_region),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>


<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>